.scrollable {
  overflow-y: scroll;
  max-height: 250px;
}

@media only screen and (max-width: 768px) {
  .scrollable {
    overflow-y: scroll;
    max-height: 150px;
    font-size: 15px;
  }
}

.scrollable::-webkit-scrollbar {
  width: 5px;
}

.scrollable::-webkit-scrollbar-track {
  border: 1px #404040;
  padding: 2px 0;
}

.scrollable::-webkit-scrollbar-thumb {
  height: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #d3d3d3;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: #778899;
}

.watchList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
}

.watchCard {
  display: inline;
  position: relative;
  text-align: center;
  margin: 10px;
  font-size: 16px;
  top: 0;
  transition: top ease 0.5s;
}

.watchCard:hover {
  top: -5px;
}

@media only screen and (max-width: 475px) {
  .watchCard {
    width: 112px;
  }
}

.showImg {
  aspect-ratio: calc(attr(width) / attr(height));
}

.badges {
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 0;
  left: 10px;
  top: 10px;
  display: flex;
  width: 25%;
  flex-direction: column;
}

.showTitle {
  color: white;
  position: absolute;
  max-height: 65px;
  overflow: hidden;
  min-height: 0px;
  font-size: 0.97em;
  bottom: -20px;
  text-align: center;
  background-color: #00000093;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .showTitle {
    font-size: 0.97em;
    max-height: 50px;
  }
}

.all-font {
  font-size: 72%;
}

@media only screen and (max-width: 768px) {
  .animeImage {
    justify-content: center;
  }
}
