.showRemove {
  color: #7a7a7a;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  width: 100%;
  background: #ffffff;
  padding: 7px;
}

.showRemove:hover {
  color: white;
  background: #ee3636;
}

.showDay {
  color: white;
  padding: 7px;
  border-radius: 10px;
  background: #007abd;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
