.App {
  background-color: #ececec;
  padding-bottom: 2rem;
}

html {
  background-color: #ececec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  height: 30vh;
  background: #007abd;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.subHeading {
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}
.heading {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

.home {
  display: flex;
  flex-direction: row;
  max-width: 1200;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
}

@media only screen and (max-width: 475px) {
  .home {
    flex-direction: column;
  }
}

.homeCardBack {
  position: relative;
  display: inline;
  border-radius: 20px;
  width: 300px;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 320px;
  margin: 0 20px 20px 20px;
  box-shadow: 0 28px 28px 0 #0d275016;
}

.homeCard {
  position: absolute;
  border-radius: 20px;
  width: 300px;
  background: white;
  overflow: hidden;
  bottom: 0px;
}

.season {
  background-image: url("https://cdn.myanimelist.net/images/anime/1132/110666.jpg");
}

.search {
  background-image: url("https://cdn.myanimelist.net/images/anime/1825/110716.jpg");
}

.delete {
  background-image: url("https://cdn.myanimelist.net/images/anime/1918/96303.jpg");
}

.title {
  padding: 7px 7px 0 7px;
  font-size: 32px;
  font-weight: 900;
  color: black;
}

.title:hover {
  color: rgb(87, 87, 87);
  cursor: pointer;
}

.para {
  font-size: 18px;
  font-weight: 400;
  color: rgb(110, 110, 110);
  padding: 14px 7px 0 7px;
}
