.scrollable {
  overflow-y: scroll;
  max-height: 230px;
}

.scrollable::-webkit-scrollbar {
  width: 5px;
}

.scrollable::-webkit-scrollbar-track {
  border: 1px #404040;
  padding: 2px 0;
}

.scrollable::-webkit-scrollbar-thumb {
  height: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #d3d3d3;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: #778899;
}

.show {
  position: relative;
  cursor: inherit;
  align-items: flex-start;
}

.show:hover {
  cursor: pointer;
}
.showTitle {
  visibility: visible;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.showImage:hover {
  opacity: 0.75;
}
