.App {
  background-color: #ececec;
}

html {
  background-color: #ececec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: "Secular One", sans-serif;
}

.landing {
  min-height: 100vh;
  padding: 0rem 5rem;
}

.big-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 3rem;
  font-family: "Secular One", sans-serif;
}

.intro {
  background: rgb(167, 160, 160);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  background: rgb(97, 105, 109);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
}

.intro-text {
  color: black;
  font-family: "Secular One", sans-serif;
  font-size: 1rem;
}

.hide {
  background: rgb(167, 160, 160);
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

.main-nav {
  list-style-type: none;
  padding: 14px 20px 10px 0;
}

.li-link {
  padding: 1rem 1rem;
}

.li-link:hover {
  background-color: #d6d6d6;
}

.searchAnime {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.searchResult {
  border: none;
  border-bottom: 2px solid rgb(150, 150, 150);
  background-color: #ececec;
  padding: 10px 5px 1px 15px;
}

input[type="search"] {
  border: none;
  border-bottom: 2px solid rgb(150, 150, 150);
  background-color: #ececec;
  padding: 10px 5px 1px 15px;
}

input[type="search"]:focus {
  outline: none;
}

.home {
  padding: 1rem;
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .home {
    padding: 1rem;
    width: 100%;
  }
}

.home ul {
  color: rgb(125, 132, 136);
  list-style-type: none;
  line-height: 2rem;
}

.scrollable {
  overflow-y: scroll;
  max-height: 250px;
}

@media only screen and (max-width: 768px) {
  .scrollable {
    overflow-y: scroll;
    max-height: 150px;
    font-size: 15px;
  }
}

.scrollable::-webkit-scrollbar {
  width: 5px;
}

.scrollable::-webkit-scrollbar-track {
  border: 1px #404040;
  padding: 2px 0;
}

.scrollable::-webkit-scrollbar-thumb {
  height: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #d3d3d3;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: #778899;
}

.showTitle {
  justify-content: right;
  font-size: 60%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.showImage:hover {
  opacity: 0.75;
}

.badges {
  display: flex;
  flex-direction: column;
}

.overlay-image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 100%;
}

.overlay-image:hover {
  cursor: pointer;
}

.carousel-text {
  color: #000;
}

.all-font {
  font-size: 72%;
}
